/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #312312;
  color: rgba(249, 249, 250, 0.8);
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;  
}
.file {
  color: rgb(64, 224, 208);
}
a.file:visited {
  color: rgb(58, 148, 139);
}
a.delete, a.delete:visited {
  color: rgb(223, 132, 136);
}
a {
  text-decoration: none;
  color: rgb(167, 167, 255);
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(110, 110, 170);
}

.icon {
    width: 30px;
    height: 30px;
}
.wk {
	filter: invert(0.6) sepia(1) saturate(5) hue-rotate(175deg);
}
.wk:hover {
    filter: invert(0.8) sepia(1) saturate(5) hue-rotate(175deg);
    transform: scale(1.2);
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
	box-shadow: 0px 0px 5px #fff;
}
.n-wk {
    filter: invert(0.1) sepia(1) saturate(5) hue-rotate(175deg);	
}

table, td, th {
    border: 1px solid white;
}
table {
    border-collapse: collapse;
    width: 60%;
}
th {
    height: 50px;
	z-index: -1;
}

#notice {
  background-color: #F0FFFF;
  color: #483D8B;
  text-align: center;
  border: 3px solid green;
  font-size: 20px;
  margin: 0px 300px 0px 100px;
  text-shadow: 1px 1px 2px black, 0 0 25px #FF7F50, 0 0 5px darkred;	
}	

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
